.About {
  text-align: center;
}

.About-logo {
  animation: About-logo-spin infinite 20s linear;
  height: 80px;
}

.About-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.About-header > h3 {
  color: red;
}

.About-intro {
  font-size: large;
}

@keyframes About-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
